@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@300&family=Arimo:wght@700&family=PT+Sans&family=Poppins&family=Roboto&display=swap');

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: rgb(43, 41, 41);
}

nav{
    position: fixed;
    background: linear-gradient(62deg, rgba(138, 141, 145, 0.7), rgba(213, 201, 224, 0.4));
    font-weight: bolder;
    display: flex;
    align-items: center;
    padding-top: 10px;
    justify-content: space-between;
    width: 100%;
    height: 2.2rem;
    font-family: 'Roboto', sans-serif;
    z-index: 2;
}

nav h2{
    padding: .4rem;
    font-size: 1rem;
    font-weight: 300;
}

nav .links{
    padding: 1rem;
    display: flex;
    align-items: center;
}

nav .links button{
    margin: .4rem;
    padding: .3rem;
    border: none;
    outline: none;
    border-radius: .4rem;
}

nav .links button:hover{
    cursor: pointer;
}

nav .links button a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
    color: wheat;
}

nav .links .active{
    background-color: transparent; 
}

.banner{
    width: 100%;
    height: 80vh;
    background: url('img/b3.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: right;
    justify-content: center;
}

.banner h1{
    font-size: 3rem;
    font-family: 'Arimo', sans-serif;
    font-weight: bolder;
    padding: 1rem;
    margin-bottom: .2rem;
    color: #EDEADE;
}

.banner h4{
    font-weight:bolder;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    padding: 1.2rem;
    color: wheat;
}

i{
    font-size: 1.8rem;
    padding: .7rem;
    cursor: pointer;
}

#insta{
    color: #fd0c0c;
}

#linkedin{
    color: #0072b1;
}

#twitter{
    color: #00acee;
}

#github{
    color: #171515;
}

.socials a{
    text-decoration: none;
}

#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#image{
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    margin-top: -5%;
    margin-bottom: 2rem;
}

.card{
    width: 60%;
    margin: auto;
    padding: 1rem;
    border-radius: 14px;
    box-shadow: 0px 0px 12px 6px rgb(158, 152, 152);
    margin-top: 2rem;
    margin-bottom: 4rem;
}
.contain{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#head{
    border-bottom: 2px solid currentColor;
    color: rgb(77, 61, 40);
    margin-bottom: 2rem;
    font-family: 'roboto', sans-serif;
    font-size: 1.2rem;
}

.word{
    padding: 1rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 500;
    color: #fff;;
    font-size: 1rem;
    line-height: 1.3rem;
}

font{
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
}

.connect{
    margin: auto;
    width: 50%;
    margin-top: 1rem;
}

.connect button{
    padding: .4rem;
    margin: 1rem;
    border-radius: 8px;
    border: none;
    font-size: .8rem;
}

#socials{
    color: rgba(0, 0, 0, 0.8);
    background-image: linear-gradient(68deg, rgb(24, 241, 220), rgb(235, 208, 208));
    font-weight: bold;
}

#email-btn{
    color: rgba(80, 79, 79, 0.8);
    background-image: linear-gradient(68deg, rgba(0, 0, 0, 0.3), rgb(235, 193, 193));
    font-weight: bold;
}

#projects{
    width: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: auto;


    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    font-size: 1rem;
    
}

.head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#email-input,
#name,
#message{
    display: block;
    outline: none;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5rem;
    color: rgba(0, 0, 0, 0.5);
    margin-bottom: .5rem;
    padding: 0.84rem;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

.under{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #423f3f;
    box-shadow: 0 0 5px 5px rgb(172, 166, 166);
}

.btn{
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background: linear-gradient(62deg, rgb(138, 141, 145), rgba(110, 93, 126, 0.603)) ;
    padding: 15px;
    text-align: center;
    color: wheat;
    font-size: medium;
    font-family: roboto, sans serif;
    cursor: pointer;
}

@media(max-width: 768px){
    nav h2,
    nav .links button a{
        font-size: 0.9rem;
    }
    .banner h1{
        font-size: 2.5rem;
    }
    .banner h4{
        font-size: 0.93rem;
    }
    nav .links{
        display:contents;
    }

    #image{
        width: 9rem;
        height: 9rem;
        border-radius: 50%;
        margin-top: -8%;
        margin-bottom: 1.62rem;
    }

    .card{
        max-width: 570px;
    }
    #head{
        font-size: 0.96rem;
    }

    .word{
        font-size: 0.8rem;
        line-height: 1rem;
    }
    font{
        font-size: 0.8rem;
    }
    
    .connect{
        margin: auto;
        width: 80%;
        margin-top: 0.9rem;
    }

    .connect button{
        padding: .4rem;
        margin: 0.6rem;
        border-radius: 6px;
        border: none;
        font-size: .6rem;
    }

    i{
        font-size: 1rem;
        padding: .6rem;
        cursor: pointer;
    }

    
}

@media(max-width: 610px){
    nav h2,
    nav .links button a{
        font-size: 0.9rem;
    }
    .banner h1{
        font-size: 2rem;
    }
    .banner h4{
        font-size: 0.85rem;
    }
    nav .links{
        display:contents;
    }

    #image{
        width: 7rem;
        height: 7rem;
        border-radius: 50%;
        margin-top: -10%;
        margin-bottom: 1rem;
    }

    
}

@media(max-width: 439px){
    .card{
        width: 80%;
    }
    nav .links{
        display:contents;
    }
}


@media(max-width: 377px){
    nav h2,
    nav .links button a{
        font-size: 0.7rem;
    }
    .banner h1{
        font-size: 1.7rem;
    }
    .banner h4{
        font-size: 0.93rem;
    }

    nav .links{
        display:contents;
    }
    
    .card{
        max-width: 93%;
    }
}

@media screen and (min-width: 316px){
    .card{
        width: 80%;
    }

    nav .links{
        display:contents;
    }

    nav h2{
        font-size: 0.9rem;
    }
}
